body{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}

a{
    font-size: 30px;
    text-decoration: none;
    color: gray
}


.header,.first-section{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header,.first-section,.second-section{
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.header,.subtext,.card-text{
    font-family: "Raleway Dots";
}

.header .left{
    font-size: 70px;
}

.header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.first-section{
    display: flex;
    /* flex-direction: ; */
    background: rgb(250, 250, 250);
}

.first-section img{
    width:500px;
    height: auto;
    margin-bottom: 20px;
}

.button-text{
    font-family: "Montserrat";
    color:rgb(104, 104, 104);
}

.first-section button{
    font-weight: 700;
    padding: 7px 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

.text-header{
    color: rgb(67, 67, 67);
    font-size:30px;
    font-weight: 700px;
}

.header-two{
    margin-bottom: 50px;
    font-size: 25px;
}

.cards{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    max-width: 200px;
}

.card-text{
    font-size: 17px;
}

.second-section{
    text-align: center;
    background-color: rgb(240, 240, 240);
}

